body {
	background: #ffffff;
	text-align: center;
	font-family: 'Kaushan Script', cursive, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
	font-size: 40px;
	padding-top: 60px;
}

h1 {
	font-weight: 600;
	font-size: 70px;
	margin-bottom: 35px;
}

input {
	padding: 5px;
	font-size: 16px;
}

input:not(:first-of-type) {
	margin-left: 20px;
}

video {
	margin: 30px;
	width: 500px;
	max-width: 85%;
}
